body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas {
    border: 1px solid black;
    cursor: url(/assets/images/cross-pointer.png) 17 17, move;
}